/* TerrorSeries.css */
.serie-list {
    background-color: #ff6666;
    padding: 16px;
    margin: 16px;
    border: 1px solid #ff3333;
    border-radius: 4px;
  }
  
  .serie-list h1 {
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 8px;
  }
  